@import "sequences.css";
@import "topics.css";
@import "basics.css";
@import "tables.css";
@import "contact.css";

:root {
  font-size: 16px;
  font-family: Arial, "Open Sans";
  --light-grey: rgba(0, 0, 0, 0.2);
  --med-grey: rgba(0, 0, 0, 0.4);
  --dark-grey: rgba(0, 0, 0, 0.6);

  --link-color: rgba(0, 0, 0, 1);
  --nav-bar-color: green;
  --code-color: lightblue;

  --topic-nav-color: lightgreen;
  --topic-nav-min-width: 4rem;
  --topic-nav-max-width: 10rem;

  --header-height: 5rem;

  line-height: 1.5;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

h1,
h2 {
  margin-top: 0px;
}

h2 {
  margin-bottom: 0px;
}

p {
  padding-left: 2rem;
  max-width: 80%;
}

li {
  line-height: 1.5;
}

code {
  background-color: var(--code-color);
  padding: 0.2rem;
  border-radius: 3px;
}

header nav {
  align-items: center;
  background-color: var(--nav-bar-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  height: var(--header-height);
  width: 100%;
  z-index: 1000;
}

header nav ol {
  margin: 20px;
  padding-left: 0px;
  font-size: 2rem;
}

#logo {
  width: 50px;
  height: 50px;
}
