@import "topics.css";
@import "tables.css";
@import "sequences.css";
@import "basics.css";
@import "contact.css";

:root {
  font-size: 20px;
  font-family: Arial, "Open Sans";
  /* background-color: transparent; */

  /* general colors */
  --light-grey: rgba(0, 0, 0, 0.2);
  --med-grey: rgba(0, 0, 0, 0.4);
  --dark-grey: rgba(0, 0, 0, 0.6);
  --opaque-white: rgba(255, 255, 255, 0.8);
  --opaque-black: rgba(0, 0, 0, 0.6);

  /* component/tag colors */
  --text-bg-color: rgba(255, 255, 255, 1);
  --code-bg-color: lightblue;
  --code-font-color: black;
  --font-color: white;
  --paragraph-bg: white;

  /* main nav bar */
  --link-color: rgba(255, 255, 255, 1);
  --nav-bar-color: rgba(2, 126, 22, 0.918);
  --header-color-hover: rgba(255, 255, 255, 0.1);
  /* --header-height: 2rem; */
  --header-min-height: 3rem;

  /* topic nav bar */
  --topic-nav-color: rgba(255, 255, 255, 1);
  --topic-nav-min-width: 2rem;
  --topic-nav-max-width: 10rem;

  /* other component vars */
  --transition-speed: 300ms;
  --scale-size: 1.3;
  line-height: 1.5;
}

body,
html {
  height: 100%;
  background-image: url(../images/tokyo-tower.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* I like this effect, can use when there is more content on the pages, for scrolling */
  background-attachment: fixed;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* .App { */
/* background-image: url(../images/tokyo-tower.jpg); */
/* background-position: center; */
/* background-repeat: no-repeat; */
/* background-size: cover; */
/* I like this effect, can use when there is more content on the pages, for scrolling */
/* background-attachment: fixed; */
/* } */

a {
  text-decoration: none;
  color: var(--link-color);
}

h1 {
  margin: 0 auto;
}

h1.left-align {
  margin-left: 0px;
}

p,
ul {
  padding-left: 2rem;
  max-width: 80%;
}

li {
  line-height: 1.5;
}

code {
  background-color: var(--code-bg-color);
  color: var(--code-font-color);
  padding: 0.2rem;
  border-radius: 3px;
}

header nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  height: var(--header-min-height);
  width: 100%;
}

header nav ol {
  margin: 20px;
  padding-left: 0px;
  font-size: 2rem;
}

nav {
  transition-duration: var(--transition-speed);
  filter: opacity(10%);
}

nav:hover {
  filter: opacity(100%);
}

svg {
  color: white;
  transition: var(--transition-speed);
}

svg:hover {
  transform: scale(var(--scale-size));
}
