.concept-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.method-contents {
  margin-left: 5%;
}

.method-description {
  width: 80%;
}

.documentation-link {
  max-width: 15vw;
  padding: 0px;
}