.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 500px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  font-size: 1.5rem;
}

input {
  height: 2rem;
}

textarea {
  height: 400px;
}
