.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
}

/* frosted glass */
form:before {
  width: 500px;
  height: 500px;
  margin: auto;
  content: "";
  position: absolute;
  background: inherit;
  border-radius: 5px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(5px);
}

input {
  height: 2rem;
  color: var(--font-color);
  z-index: 1;
}

textarea {
  height: 400px;
  color: var(--font-color);
  z-index: 1;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  font-size: 1.5rem;
  outline: none;
  background-color: transparent;
  border: none;
}

input[type="submit"] {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  margin: 1rem auto;
  cursor: pointer;
}

input::placeholder,
textarea::placeholder {
  color: var(--font-color);
}
