.regex {
  display: flex;
  flex-direction: row;
}

.regex-special-sequences {
  width: 100%;
  height: 100%;
}

.regex-table {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  border: 1px solid black;
}

.regex-controls {
  display: flex;
  flex-direction: column;
}

.ascii-character {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  padding: 3px;
}

.ascii-character:hover {
  box-shadow: inset 0px 0px 2px 2px black;
}

.character-details {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;
  height: 15px;
}

.details-hex {
  text-align: center;
}

.details-dec {
  text-align: right;
}

.sequence-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3vh;
}

.sequence-buttons span {
  text-align: center;
  padding: 6px;
  background-color: var(--light-grey);
}

.sequence-buttons span:hover {
  background-color: lightgreen;
}
