.method-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.method-contents {
  margin-left: 5%;
}

.method-description {
  width: 80%;
}

.documentation-link {
  max-width: 15vw;
  padding: 0px;
}

.method-args th {
  text-align: left;
}

.method-args td {
  padding: 0px 6px;
}

.method-example {
  margin: 3vh 0;
  background-color: lightblue;
}
