.args-table,
.method-table {
  text-align: left;
  margin: 1vh 0;
}

.re.args-table td {
  text-align: left;
}

.text-pattern-table {
  text-align: left;
  width: 30%;
}

th {
  text-align: left;
}

td {
  padding: 0px 6px;
  text-align: left;
}

td.cell-label {
  width: 5vw;
}

.regex-table {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  border: 1px solid black;
  max-height: 30rem;
}
