table {
  margin: 1rem 0;
}

.args-table,
.example-table {
  text-align: left;
  margin: 1vh 0;
}

.re.method-table td {
  text-align: left;
}

.text-pattern-table {
  text-align: left;
  width: 30%;
}

th {
  text-align: left;
}

td {
  padding: 0px 6px;
  text-align: left;
}

td.cell-label {
  width: 10vw;
}
