.full-topic-area {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.topics-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: var(--topic-nav-min-width);
  height: 100%;
  background-color: var(--dark-grey);
  transition-duration: 500ms;
  margin: 0px 0px;
  padding: 0px 0px;
}

.topics-list:hover {
  width: var(--topic-nav-max-width);
}

.topics-list ul {
  list-style-type: none;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.content-area {
  display: flex;
  margin-left: var(--topic-nav-max-width);
}
