.full-topic-area {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.topics-list {
  display: flex;
  flex-direction: column;
  width: 5vw;
  height: 100%;
  background-color: var(--dark-grey);
  transition-duration: 500ms;
}

.topics-list:hover {
  width: 20vw;
}

.topics-list ol {
  padding-left: 1vw;
  padding-right: 1vw;
}

.content-area {
  display: flex;
  margin: 10vh auto;
}
